[core]
  editor = vim
  commentChar = ";"
  pager = less
[alias]
  ls = ls-files
  stat = status -u --
  stashes = stash list
  branches = branch
  unstage = restore --staged
  commend = commit --amend
  stage-diff = diff --cached
  stash-diff = stash show -p
  files = "!f() { \
    local current_branch=$(git branch --show-current 2>&1); \
    git diff --name-only master...${current_branch}; \
  }; f"
  find = grep --heading --break
  slog = log --date=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn %Creset%s'
  llog = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  glog = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
  mlog = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  force-push = push --force-with-lease
[color]
  ui = true
[commit]
  gpgsign = true
[diff]
  tool = vimdiff
[fetch]
  prune = true
[grep]
  lineNumber = true
  extendedRegexp = true
  threads = 2
[help]
  autoCorrect = 0
[merge]
  tool = vimdiff
  conflictStyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[pull]
  ff = only
[push]
  default = simple
[user]
  useConfigOnly = true
[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig.d/user.personal
[includeIf "gitdir:~/sandbox/"]
  path = ~/.gitconfig.d/user.business
