[core]
  editor = vim
  commentchar = ";"
  pager = less
[alias]
  ls = ls-files
  stat = status
  stashes = stash list
  branches = branch
  unstage = reset HEAD
  commend = commit --amend
  stage-diff = diff --cached
  stash-diff = stash show -p
  find = grep --line-number --heading --break
  sl = log --date=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn %Creset%s'
  ll = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  gl = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
  ml = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
[color]
  ui = true
[fetch]
  prune = true
[help]
  autocorrect = 0
[push]
  default = simple
[include]
  path = ~/.gitconfig.d/user
