# @link https://dev.mysql.com/doc/refman/8.0/en/option-files.html
# > The syntax for specifying options in an option file is similar to command-line syntax
# > see [Section 4.2.2.1, "Using Options on the Command Line"](https://dev.mysql.com/doc/refman/8.0/en/command-line-options.html)
# @link https://dev.mysql.com/doc/refman/8.0/en/mysql-command-options.html
# @link https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html
# @link https://dev.mysql.com/doc/refman/8.0/en/server-system-variable-reference.html
[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
show-warnings

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin
default-password-lifetime=0
innodb-file-per-table=ON
innodb-lock-wait-timeout=1
innodb_data_file_path=ibdata1:1G
long-query-time=1
slow-query-log=ON
validate-password-policy=2

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
