
[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
show-warnings

[mysqld]
character-set-client-handshake = FALSE
character-set-database = utf8mb4
character-set-server = utf8mb4
collation-server = utf8mb4_bin
default_password_lifetime = 0
innodb_lock_wait_timeout = 1
lont_query_time = 1
slow_query_log = 1

validate_password_policy = LOW
default_password_lifetime = 0
